---
default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-json
  - id: check-symlinks
  - id: end-of-file-fixer
  - id: pretty-format-json
    args: [--autofix]
  - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.6
  hooks:
  - id: forbid-crlf
    exclude: .*gradlew.bat
  - id: forbid-tabs
- repo: https://github.com/crate-ci/typos
  rev: v1.42.0
  hooks:
  - id: typos
    args: []
    stages: [pre-commit]
  - id: typos
    name: commit-msg-typos
    stages: [commit-msg]
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [--mapping, '2', --sequence, '2', --offset, '0', --width, '150']
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.0
  hooks:
  - id: check-github-workflows
  - id: check-renovate
- repo: https://github.com/eirnym/language-formatters-pre-commit-hooks
  rev: 2.14.2
  hooks:
  - id: pretty-format-kotlin
    args: [--autofix]
  - id: pretty-format-java
    args: [--autofix, --palantir]
