---
default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: builtin
  hooks:
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: check-json
  - id: check-toml
  - id: check-yaml
  - id: check-xml
  - id: check-symlinks
  - id: detect-private-key
  - id: mixed-line-ending
    args: [--fix=lf]
    exclude_types: [batch]
  - id: check-executables-have-shebangs
  - id: no-commit-to-branch
    args: [--branch, main]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: pretty-format-json
    args: [--autofix]
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.6
  hooks:
  - id: forbid-crlf
    exclude_types: [batch]
  - id: forbid-tabs
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [--mapping, '2', --sequence, '2', --offset, '0', --width, '150']
- repo: https://github.com/ComPWA/taplo-pre-commit
  rev: v0.9.3
  hooks:
  - id: taplo-format
- repo: https://github.com/crate-ci/typos
  rev: v1.42.1
  hooks:
  - id: typos
    args: []
    stages: [pre-commit]
  - id: typos
    name: commit-msg-typos
    stages: [commit-msg]
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.0
  hooks:
  - id: check-github-workflows
    args: [--verbose]
  - id: check-renovate
    args: [--verbose]
- repo: https://github.com/zizmorcore/zizmor-pre-commit
  rev: v1.22.0
  hooks:
  - id: zizmor
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.16.0
  hooks:
  - id: pretty-format-kotlin
    args: [--autofix]
  - id: pretty-format-java
    args: [--autofix, --palantir]
