[versions]
# JUnit 5 = JUnit Platform ([junit-api]) + JUnit Launcher ([junit-launcher])
# Changelog: https://junit.org/junit5/docs/current/release-notes/index.html
junit5 = "5.14.2"
junit5-platform = "1.14.2"

[libraries]

# Junit for testing
junit-bom = { module = "org.junit:junit-bom", version.ref = "junit5" }
junit-api = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junit5" }
junit-params = { module = "org.junit.jupiter:junit-jupiter-params", version.ref = "junit5" }

# JUnit Engines: https://junit.org/junit5/docs/current/user-guide/index.html#running-tests-build-gradle-engines-configure
junit-engine = { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "junit5" }

# https://docs.gradle.org/8.4/userguide/upgrading_version_8.html#test_framework_implementation_dependencies
junit-launcher = { module = "org.junit.platform:junit-platform-launcher", version.ref = "junit5-platform" }

[bundles]
junit-tests = ["junit-api", "junit-params"]
junit-runtime = ["junit-engine", "junit-launcher"]
