name: Java Demo CI

on:
  push:
    branches:
      - main
    tags-ignore:
      - '*'
    paths:
      - 'demo/java/**'
      - .github/workflows/demo-java-ci.yml
  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths:
      - 'demo/java/**'
      - .github/workflows/demo-java-ci.yml

concurrency:
  # Documentation suggests ${{ github.head_ref }}, but that's only available on pull_request/pull_request_target triggers, so using ${{ github.ref }}.
  # On master, we want all builds to complete even if merging happens faster to make it easier to discover at which point something broke.
  group: ${{ github.ref == 'refs/heads/main' && format('demo-java-ci-main-{0}', github.sha) || format('demo-java-ci-{0}', github.ref) }}
  cancel-in-progress: true

env:
  GRADLE_OPTS: -Dorg.gradle.internal.launcher.welcomeMessageEnabled=false

jobs:
  buildTest:
    name: Build Java Demos
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo/java
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        java_version: [8, 11, 17, 19]
        distribution: ["zulu", "temurin"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install JDK ${{ matrix.distribution }} ${{ matrix.java_version }}
        uses: actions/setup-java@v3.13.0
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java_version }}
          cache: gradle
      - name: Build project Java Demo
        run: ./gradlew build -S --scan --warning-mode all
