---
name: Validate Gradle Wrapper

on:
  push:
    branches:
    - main
    paths:
    - gradle/wrapper/**
    - demo/java/gradle/wrapper/**
    - .github/workflows/gradle-wrapper-validation.yml
  pull_request:
    branches:
    - main
    paths:
    - gradle/wrapper/**
    - demo/java/gradle/**
    - .github/workflows/gradle-wrapper-validation.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dkotlin.incremental=false -Dkotlin.compiler.execution.strategy=in-process

jobs:
  validationPlugin:
    name: 'Wrapper validation: Plugin'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: gradle/wrapper-validation-action@v3
  validationJavaKotlinSample:
    name: 'Wrapper validation: Java Demo'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo/java
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: gradle/wrapper-validation-action@v3
