name: "Validate Gradle Wrapper"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  validationPlugin:
    name: "Validation Plugin"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
  validationJavaSample:
    name: "Validation Java Sample"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo/java
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
  validationAndroidSample:
    name: "Validation Android Sample"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo/android
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
  validationAndroidDev:
    name: "Validation Android development"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo/androidDev
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1