name: Java Sample

on: [pull_request]

jobs:
  buildTest:
    name: Build JDK ${{ matrix.java_version }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo/java
    strategy:
      matrix:
        java_version: [8, 11, 15, 17]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java_version }}
      - name: Build project
        run: ./gradlew assemble
