---
name: Build Plugin CI

on:
  push:
    branches:
    - main
    tags-ignore:
    - '*'
    paths:
    - plugin-gradle/**
    - gradle/wrapper/**
    - gradle/libs.dependencies.toml
    - gradle/processors.toml
    - gradle/plugins.dependencies.toml
    - gradlew*
    - internal/plugins/**
    - internal/common/**
    - internal/settings.gradle.kts
    - settings.gradle.kts
    - build.gradle.kts
    - gradle.properties
    - .github/workflows/plugin-build-ci.yml
  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths:
    - plugin-gradle/**
    - gradle/wrapper/**
    - gradle/libs.dependencies.toml
    - gradle/processors.toml
    - gradle/plugins.dependencies.toml
    - gradlew*
    - internal/plugins/**
    - internal/common/**
    - internal/settings.gradle.kts
    - settings.gradle.kts
    - build.gradle.kts
    - gradle.properties
    - .github/workflows/plugin-build-ci.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  GRADLE_OPTS: -Dorg.gradle.internal.launcher.welcomeMessageEnabled=false

permissions: {}

jobs:
  build-and-test:
    permissions:
      contents: read
    name: Build Plugin
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        gradleTest: [current, 8, 7]
        java: [21, 17]
        distribution: [zulu]
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Set up JDK ${{ matrix.distribution }} ${{ matrix.java }} for gradle test ${{ matrix.gradleTest }}
      uses: actions/setup-java@v5
      with:
        distribution: ${{ matrix.distribution }}
        java-version: ${{ matrix.java }}
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5.0.1
    - name: Run build and tests
      run: |
        if [[ "$TEST_GRADLE_VER" == "current" ]]; then
          export TEST_GRADLE_VER_EXACT=current
        else
          export TEST_GRADLE_VER_MIN=$TEST_GRADLE_VER
          export TEST_GRADLE_VER_MAX=$(( $TEST_GRADLE_VER + 1))
        fi
        ./gradlew build -S --scan --warning-mode all --no-daemon
      env:
        TEST_GRADLE_VER: ${{ matrix.gradleTest }}
