---
name: Release Plugin

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version to release

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  GRADLE_OPTS: -Dorg.gradle.internal.launcher.welcomeMessageEnabled=false

permissions: {}

jobs:
  pre-release-check:
    permissions:
      contents: read
    name: Pre-release check
    runs-on: ubuntu-latest
    steps:
    - name: Version check
      run: |
        if ! [[ ${{ inputs.version }} =~ ^[0-9]+\.[0-9]+\.[0-9]+(-(rc|alpha|beta)[0-9]+)?$ ]]; then
          echo "[ERROR]: Input version doesn't follow semver:" ${{ inputs.version }}
          exit 1
        fi
    - name: Checkout
      uses: actions/checkout@v6
    - name: Install JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 17
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Build project
      run: >-
        ./gradlew build --no-daemon
        -Porg.jsonschema2dataclass.internal.git-version-override=${{ inputs.version }}
      env:
        TEST_GRADLE_VER_EXACT: current
  publish-github:
    permissions:
      contents: write
    name: Publish GitHub
    runs-on: ubuntu-latest
    environment: production
    needs:
    - pre-release-check
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Create Github release
      run: |
        PRE_RELEASE=""
        if [[ ${{ inputs.version }} == *"beta"* ]]; then
          PRE_RELEASE="-p"
        fi
        if [[ ${{ inputs.version }} == *"alpha"* ]]; then
          PRE_RELEASE="-p"
        fi
        if [[ ${{ inputs.version }} == *"rc"* ]]; then
          PRE_RELEASE="-p"
        fi

        set -x
        gh release create --draft $PRE_RELEASE "v${{ inputs.version }}" --fail-on-no-commits --generate-notes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish-gradle:
    needs:
    - publish-github
    permissions:
      contents: read
    runs-on: ubuntu-latest
    environment: production
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Install JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 17
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Publish
      run: >-
        ./gradlew publishPlugins -s --scan --no-daemon
        -Pgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }}
        -Pgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}
        -Porg.jsonschema2dataclass.internal.git-version-override=${{ inputs.version }}
  finalise-github-release:
    needs:
    - publish-gradle
    permissions:
      contents: write
    runs-on: ubuntu-latest
    environment: production
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Finalise Github release
      run: |
        gh release edit "v${{ inputs.version }}" --draft=false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
