name: Release Plugin

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    name: Publish release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v3.9.0
        with:
          distribution: 'temurin'
          java-version: 17
          cache: gradle
      - name: Build project
        run: ./gradlew build --no-daemon
        env:
          VERSION: ${{ github.ref }}
      - name: Find Tag
        id: tagger
        uses: jimschubert/query-tag-action@v2
        with:
          skip-unshallow: 'true'
          commit-ish: HEAD
      - name: Create Github release
        run: |
          PRE_RELEASE=""
          if [[ ${{steps.tagger.outputs.tag}} == *"beta"* ]]; then
            PRE_RELEASE="-p"
          fi
          if [[ ${{steps.tagger.outputs.tag}} == *"alpha"* ]]; then
            PRE_RELEASE="-p"
          fi
          assets=$(find . -name "*${{steps.tagger.outputs.tag}}*.jar" -or -name " *release.aar" | while read -r asset ; do echo "-a $asset" ; done)
          set -x
          hub release create $PRE_RELEASE ${assets} -m "${{steps.tagger.outputs.tag}}" "${{steps.tagger.outputs.tag}}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{steps.tagger.outputs.tag}}
      - name: Publish
        uses: burrunan/gradle-cache-action@v1.15
        with:
          remote-build-cache-proxy-enabled: false
          properties: |
            gradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }}
            gradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}
          arguments: publishPlugins -s --scan --no-daemon
