---
name: Verify Quality Checks

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  GRADLE_OPTS: -Dorg.gradle.internal.launcher.welcomeMessageEnabled=false

jobs:
  pre-commit:
    name: Pre-commit checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        cache: pip
    - name: Install dependencies
      run: |
        pip install -U pip setuptools wheel
        pip install -r .github/requirements.txt
    - uses: actions/cache@v5
      with:
        path: ~/.cache/pre-commit/
        key: pre-commit-4|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Run pre-commit hooks
      run: pre-commit run --all-files --show-diff-on-failure
