---
name: Verify Quality Checks

on:

  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths:
    - .github/renovate.json
    - .github/workflows/renovate-verify.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  verify-renovate:
    permissions:
      contents: read
    name: Renovate official check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - uses: actions/setup-node@v6.2.0
    - run: npx --package renovate -c 'renovate-config-validator'
